<nav class="navbar navbar-dark navbar-expand-sm bg-primary static-top rounded-bottom ">
    <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">GROCSPOT</a>
        <button class="navbar-toggler ml-auto mt-2 mt-lg-0" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
 