/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');

$primary_1: #FF7300;
$primary_2: #DFDFDF;
$primary_3: #afadad;
$primary_4: #939393;

.navbar-toggler:not([disabled]):not(.disabled) {
    width: auto;
}

// .btn:not([disabled]):not(.disabled) {
//     margin-left: auto;
//     margin-right: auto;
// }


.LEFT {
    background-color: $primary_1;
    color: $primary_2;
    height: 100vh;
    font-family: 'Ruda', sans-serif;
}

.LEFT_C {
    @extend .LEFT;
    .container {
        margin-top: 85px;
    }
}

.RIGHT {
    background-color: $primary_2;
    height: 100vh;
    font-family: 'Ruda', sans-serif;
    margin-top: auto;
    .container .row {
        margin: 20px 0 0 0;
    }
}

.RIGHT_C {
    @extend .RIGHT;
    .container {
        margin-top: 85px;
    }
}

.login_modal {
    font-family: 'Ruda', sans-serif;
    padding: 0;
    overflow: hidden;
    svg {
        position:absolute;
    }
    form {
        width: 50%;
        margin: 50px;
        z-index: 1;
    }
}

.register_modal {
    font-family: 'Ruda', sans-serif;
    padding: 0;
    overflow: hidden;
    svg {
        position:absolute;
    }
    form {
        width: 100%;
        margin: 50px;
        z-index: 1;
    }
}

.modal-header {
    background-color: $primary_2;
    font-family: 'Ruda', sans-serif;
}
  
.input_fields {
    width: 100%
}

.form-size {
    width: 100%
}

.half-width {
    width: 48%;
}

.header_bt{
    border-radius: 10px;
    background-color: $primary_3;
    height: fit-content;
    margin: 10px;
    width: 100px;
}

.collapse .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
    // border-color: $primary_1;
    // border-width: 1px;
}

.form_container {
    width: 80%;
    background-color: $primary_3;
    border-radius: 40px;
    form {
        padding: 20px;
        // input, textarea {
        //     border: none;
        //     overflow: auto;
        //     outline: none;
        //     background-color: $primary_4;
        // }
    }
}

.form_button {
    float: right;
    button {
        background-color: $primary_1;
        color: white;
    }
}

// .mat-form-field-infix {
//     background-color: $primary_4;
// }

.navbar-brand {
    img {
        width: 20%;
    }
}

.mat-input-element {
    font-family: 'Ruda', sans-serif;
}