<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 LEFT text-center">
            <h3>About Us</h3>
        </div>
        <div class="col-12 col-sm-6 RIGHT text-center">
            <h3>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Risus 
                senectus accumsan morbi massa 
                non, et. Viverra aliquet tincidunt 
                facilisi ut tellus arcu morbi 
                tincidunt. Adipiscing ullamcorper 
                eget elementum nunc gravida nisl 
                congue nullam</h3>
        </div> 
    </div>
</div>