mat-form-field {
    width: 100%;
}

button{
    height: 40px;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Ruda', sans-serif;
    color: #939393;
    background: white;
    box-shadow: 1px 8px 12px #c7c4c4;
               
}
button:hover{
    color: #ff7300;
    box-shadow:  2px 12px 12px #c7c4c4;
}