<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 LEFT_C">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center align-items-center">
                        <app-autocomplete (locationChange)="autocompleteChanged($event)"></app-autocomplete>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="z-index: 1;">
                        <app-my-map></app-my-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 RIGHT_C">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center align-items-center">
                        <app-itemsearch></app-itemsearch>
                    </div>
                    <div class="row m-0">
                        <app-searchresult></app-searchresult>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>