<nav class="navbar navbar-light navbar-expand-sm header_class fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">GROCSPOT</a>
        <button class="navbar-toggler ml-auto mt-2 mt-lg-0" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <button type="button" class="btn header_bt btn-sm " routerLink="/home" routerLinkActive="active">Home</button>
                <button type="button" class="btn header_bt btn-sm" routerLink="/profile" routerLinkActive="active">Profile</button>
                <button type="button" class="btn header_bt btn-sm" routerLink="/feedback" routerLinkActive="active">Feedback</button>
                <button type="button" class="btn header_bt btn-sm" routerLink="/contactus" routerLinkActive="active">Contact us</button>
                <button type="button" class="btn header_bt btn-sm" routerLink="/about" routerLinkActive="active">About</button>
            </ul>
        </div>
    </div>  
</nav>
  