.header_class {
    background-color: white;
    z-index: 1;
    a {
        text-decoration: none;
        color: black;
    }
} 

nav {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Ruda', sans-serif;
}

.navbar-brand {
    font-size: xx-large;
    text-shadow: 2px 2px 4px #4b4949;
}

button{
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    background: white;
    box-shadow: 1px 8px 12px #c7c4c4;
               
}
button:hover{
    color: #ff7300;
    box-shadow:  2px 12px 12px #c7c4c4;
}

button :active{
    color: #ff7300;
    box-shadow:  2px 12px 12px #c7c4c4;
}